html,
body {
    scroll-behavior: smooth;
}

.double-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

a {
    color: #606f7b;
    text-decoration: none;
}

#about p {
    padding-bottom: 10px;
}

@media screen and (max-width:576px) {
    .icon-big {
        font-size: 36px;
    }

}

.bg-wechat {
    background-color: #393A3F;
}


/* 搜索 */
#search-outer:focus-within {
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}


/* 搜索结果 位置 */
#search-result-absolute {
    width: 515px;
    max-height: 80vh;
    right: 0;
    top: 1.5rem;
    background-color: rgba(242, 242, 242, 0.95);
    padding: 1rem 0 1rem 1.25rem;
}


#search-result-box {
    max-height: 76vh;
}

/* 搜索结果 滚动条样式 */
#search-result-box::-webkit-scrollbar {
    width: 6px;
    height: 1px;
}

#search-result-box::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #C3DAFE;
}

#search-result-box::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
    border-radius: 10px;
    background: #e3e3e3;
}



/* 搜索引导 ？ hover 显示*/
#search-guide-absolute {
    position: absolute;
    width: 350px;
    height: 400px;
    top: 1rem;
    display: none;
}

#search-guide:hover>#search-guide-absolute {
    display: block;
}


#search-guide-outer {
    width: 300px;
    height: 360px;
    margin-top: 1.5rem;
    padding: .25rem .1rem .25rem 0;
}


/* 搜索引导 ？ 滚动条样式 */
#search-guide-show::-webkit-scrollbar {
    width: 6px;
    height: 1px;
}

#search-guide-show::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #A3BFFA;
}

#search-guide-show::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
    border-radius: 10px;
    background: #e3e3e3;
}